#checkticket{  
    background: black;
    color: white;
    cursor: pointer;
    display: block;
    border: 0;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 20px 0;
    position: relative;
    left: 50px;
}
body {
   width:400px;
   height:300px;
}
#show_title{
    font:weight 8px;
    font-size: 25px;
}
#checkresult{


}
#check{




}
.train{

}
.from_station{

}
.to_station{

}
.from_time{

}
.to_time{

}
.time{

}
.buy_button{

}