#checkticket{  
    background: black;
    color: white;
    cursor: pointer;
    display: block;
    border: 0;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 20px 0;
    position: relative;
    left: 170px;
}
body {
   width:400px;
   height:200px;
}
#show_title{
    font-size: 25px;
    position: relative;
    left: 110px;
}
.checkUI{
    position: relative;
    left: 80px;
}
#checkresult{
    display: none;


}
#resulttitle{
    position: relative;
    left: 170px;

}
#return_check{
    position: relative;
    left: 250px;
}
#check{




}
.train{
    color: darkorange;

}
.from_station{
   color: darkgreen;

}
.to_station{
    color: darkblue;

}
.from_time{
    color: darkgreen;

}
.to_time{
    color: darkblue;

}
.time{
    color: blueviolet;

}
.buy_button{background: black;
    color: white;
    cursor: pointer;
    display: block;
    border: 0;
    border-radius: 3px;
}
#showmore{
    position: relative;
    left: 150px;
}
#morepart{
    display: none;
}